.newInvoice {
	width: calc(100vw - 220px);
	position: absolute;
	left: 220px;
	top: 50px;

	.wrapper {
		padding: 20px;
		.wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
		}

		.top {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.mainTitle {
				margin-bottom: 1rem;
				color: gray;
				font-size: 24px;
			}

			.items {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;

				.item {
					display: flex;
					gap: 1rem;
				}
			}
		}
	}
}

.bottom {
	color: #000;
	font-weight: 600;
	min-height: 95vh;
	position: relative;

	.bottomContent {
		margin: 20px;
		padding: 20px;
		border: 3px solid #000;
		border-radius: 5px;
		min-height: 95vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		--webkit-print-color-adjust: exact;
	}

	.bgImg {
		height: 100%;
		width: 100%;
		position: absolute;
		margin: auto;

		img {
			width: 100%;
			height: 100%;
			filter: blur(10px) opacity(40%);
		}
	}

	.info {
		.topInfo {
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;

			.logo {
				width: 200px;

				img {
					width: 50%;
				}
				p {
					font-weight: 700;
					font-size: 18px;
				}
			}

			.bonTitle {
				h2 {
					font-size: 45px;
					font-weight: 700;
				}
				p {
					text-align: center;
				}
			}
			.bonDate {
				text-transform: capitalize;
			}
		}
		.bottomInfo {
			display: flex;
			justify-content: space-between;
			.left,
			.right {
				border: 1px solid #000;
				margin: 10px 0;
				padding: 10px;
				border-radius: 5px;
			}

			.item {
				margin-bottom: 2px;
				padding: 0 2px;

				.key {
					margin-right: 5px;
					font-size: 18px;
				}
				.value {
					font-weight: 700;
					font-size: 17px;
				}
			}
		}
	}
	.table {
		margin-top: 6px;

		.tableCell {
			padding: 0 !important;
			margin: 3px 0 !important;
			border: 1px solid #000;
			text-align: center;

			&.last {
				.content {
					display: flex;
					justify-content: space-around;
				}

				.delete {
					font-size: 20px;
					border: none;
					background: none;
					color: red;
					cursor: pointer;
					z-index: 10;

					@media print {
						display: none;
					}
				}
			}
		}
	}

	.leftRight {
		display: flex;
		gap: 50px;

		.totalString {
			flex: 1;
			font-size: 18px;
			font-weight: 500;
		}

		.calc {
			margin-top: 6px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.calcRight {
				border: 1px solid #000;
				margin: 10px 0;
				padding: 10px;
				border-radius: 5px;
			}

			.calcItem {
				margin-bottom: 5px;
				padding: 0 2px;
				.key {
					margin-right: 5px;
				}
			}
		}
	}

	.footer {
		margin-top: 10px;
	}
}
