.invoice {
	width: calc(100vw - 220px);
	position: absolute;
	left: 220px;
	top: 50px;

	.wrapper {
		padding: 20px;

		display: flex;
		flex-direction: column;
		gap: 30px;

		.invoice--print {
			align-self: flex-end;
		}
	}
}

.ticket {
	position: relative;
	border-radius: 5px;
	border: 1px solid gray;

	color: #000;
	font-weight: 600;
	--webkit-print-color-adjust: exact;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media print {
		width: 220mm !important;
		height: 284mm !important;
	}
}

.ticket--header {
	&__info {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 10px;

		&--top {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.logo {
				img {
					width: 80px;
				}
				p {
					font-weight: 700;
					font-size: 18px;
				}
			}

			.title {
				h2 {
					font-size: 30px !important;
					font-weight: 700;
				}
				p {
					text-align: center;
				}
			}
			.date {
				text-transform: capitalize;
			}
		}

		&--bottom {
			display: flex;
			justify-content: space-between;
			.left,
			.right {
				border: 1px solid #000;
				margin: 10px 0;
				padding: 10px;
				// border-radius: 5px;
			}

			.item {
				margin-bottom: 2px;
				padding: 0 2px;
				color: #000;
				border: 1px solid #333;
				// border-radius: 5px;
				padding: 5px;

				.key {
					margin-right: 5px;
					font-size: 18px;
				}
				.value {
					font-weight: 700;
					font-size: 17px;
				}
			}
		}
	}

	&__table {
		margin: 10px;
		.tableCell {
			padding: 0 !important;
			margin: 3px 0 !important;
			border: 1px solid #000;
			text-align: center;

			&.last {
				.content {
					display: flex;
					align-items: center;
					justify-content: space-around;
				}

				.delete {
					border: none;
					outline: none;
					color: #fff;
					background-color: #f381a7;
					cursor: pointer;
					z-index: 10;
					border-radius: 50%;
					padding: 1px;
					margin: 1px;
					cursor: pointer;
					transition: all 0.4s ease;

					&:hover {
						background-color: #e2779b;
					}

					@media print {
						display: none;
					}
				}
			}
		}
	}

	.ticket--header__return {
		margin-top: 30px;
		margin: 10px;
		// display: none;

		h3 {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 5px;
		}
		&__products {
			display: flex;
			flex-direction: column;
			gap: 5px;
			font-size: 15px;

			&--product {
				display: flex;
				align-items: center;
				gap: 10px;

				.dot {
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #666;
				}
				.pr {
					display: grid;
					width: 70%;
					grid-template-columns: 1fr 100px 120px;

					.nameValue {
						display: flex;
						align-items: center;
						gap: 4px;

						.value {
							color: #222;
							font-weight: 400;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

.ticket--footer {
	&__stats {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&--left,
		&--right {
			margin: 10px 0;
			padding: 10px;
			// border-radius: 5px;

			.calcItem {
				margin-bottom: 2px;
				padding: 0 2px;
				color: #000;
				border: 1px solid #333;
				border-radius: 5px;
				padding: 5px;
				.key {
					margin-right: 5px;
				}
			}
		}
	}

	&__cache {
		margin-bottom: 50px;
		padding: 10px;
	}
	&__brand {
		margin: 10px;
	}
}
