.home {
	width: calc(100vw - 220px);
	position: absolute;
	left: 220px;
	top: 50px;

	.wrapper {
		padding: 20px;

		.charts {
			display: flex;
			gap: 50px;
			margin-bottom: 70px;
		}

		.tables {
			display: flex;
			gap: 50px;
		}
	}
}
