.returnedProducts {
	width: calc(100vw - 220px);
	position: absolute;
	left: 220px;
	top: 50px;

	.wrapper {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.header {
			display: flex;
			justify-content: space-between;

			.title {
				font-size: 24px;
				font-weight: 600;
				color: #333;
			}
			.headerButton {
				display: flex;
				gap: 20px;
			}
		}

		.table {
			@media print {
				width: 210mm;
				height: 297mm;
				size: A4;
			}

			.action--icons {
				display: flex;
				align-items: center;
				gap: 8px;

				.icon {
					border-radius: 50%;
					font-size: 22px;
					padding: 2px;
					cursor: pointer;
					transition: all 0.4s ease;

					&:hover {
						transform: scale(1.2);
					}
				}

				.edit {
					background-color: #9db3bf;
					color: #fff;
				}
				.view {
					background-color: #38b3e3;
					color: #fff;
				}

				@media print {
					display: none !important;
				}
			}
		}
		.progressCenter {
			margin: auto;
			padding-top: 30px;
		}
	}
}
